.App {
  font-size: calc(10px + 2vmin);
}

.Foo {
  min-height: 400px;
}

.FooLink {
  height: 30vmin;
}

.bootstrap4-inverse {
  color: #fff;
  background-color: #563d7c;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}
