@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$color-bootstrap:     #563d7c;
$color-bootstrap-5:   #7952b3;

// Create your own map
$app-colors: (
  "bootstrap": $color-bootstrap,
  "bootstrap-5": $color-bootstrap-5
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $app-colors);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            "bootstrap": $color-bootstrap,
            "bootstrap-5": $color-bootstrap-5
          ),
        ),
      ),
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            "bootstrap": $color-bootstrap,
            "bootstrap-5": $color-bootstrap-5
          ),
        ),
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
