.App {
  height: 100vh;
  height: -webkit-fill-available;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "header"
      "main";

  overflow: auto;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

}
