//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/utilities";

$color-bootstrap-3:  #563d7c;
$color-bootstrap-4:  #563d7c;
$color-bootstrap-5:  #7952b3;

// Create your own map
$app-colors: (
  "bootstrap-3": $color-bootstrap-3,
  "bootstrap-4": $color-bootstrap-4,
  "bootstrap-5": $color-bootstrap-5
);

// Merge the maps
//$theme-colors: map-merge($theme-colors, $app-colors);

//$utilities: map-merge(
//  $utilities,
//  (
//    "color": map-merge(
//      map-get($utilities, "color"),
//      (
//        values: map-merge(
//          map-get(map-get($utilities, "color"), "values"),
//          (
//            "bootstrap-3": $color-bootstrap-3,
//            "bootstrap-4": $color-bootstrap-4,
//            "bootstrap-5": $color-bootstrap-5
//          ),
//        ),
//      ),
//    ),
//    "background-color": map-merge(
//      map-get($utilities, "background-color"),
//      (
//        values: map-merge(
//          map-get(map-get($utilities, "background-color"), "values"),
//          (
//            "bootstrap-3": $color-bootstrap-3,
//            "bootstrap-4": $color-bootstrap-4,
//            "bootstrap-5": $color-bootstrap-5
//          ),
//        ),
//      ),
//    ),
//  )
//);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
}

#root,
.App {
  height: 100vh;
  height: -webkit-fill-available;
}

.navbar--bootstrap {

  background-color: $color-bootstrap-5;
}
